<template>
  <div class="create-page">
    <page-view v-if="blocks" :blocks="blocks" @savePage="savePage"/>
  </div>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";
  import {IBlock} from "@/interfaces/IBlock";
  import {Action, State} from "vuex-class";
  import {IPage} from "@/interfaces/IPage";
  import PageView from "@/components/page-view.vue";

  @Component({
    components: {
      PageView,
    }
  })
  export default class CreatePage extends Vue {
    @State("blocks") blocks: IBlock[];
    @Action("createPage") createPage: (page: Omit<IPage, "id">) => Promise<void>;

    savePage(page: Omit<IPage, "id">) {
      this.createPage(page);
      this.$router.push("/");
    }
  }
</script>
