<template>
  <div v-if="page && page.blocks" class="edit-page">
    <page-view
      v-if="blocks && page" :page="page" @deletePage="removePage" :is-edit-page="true" :blocks="blocks"
      @savePage="savePage"/>
  </div>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";
  import {Action, State} from "vuex-class";
  import {IPage} from "@/interfaces/IPage";
  import {IBlock} from "@/interfaces/IBlock";
  import PageView from "@/components/page-view.vue";

  @Component({
    components: {
      PageView,
    }
  })
  export default class EditPage extends Vue {
    @State("currentPage") page: IPage;
    @State("blocks") blocks: IBlock[];
    @Action("getPage") getPage: (id: number) => IPage;
    @Action("updatePage") updatePage: (payload: IPage) => IPage;
    @Action("deletePage") deletePage: (payload: IPage) => void;

    mounted() {
      this.getPage(Number(this.$route.params.id));
      if (!this.page) {
        this.$router.push("/not-found");
      }
    }

    removePage(page: IPage) {
      this.deletePage(page);
      this.$router.push("/");
    }

    savePage(page: IPage) {
      this.updatePage(page);
      this.$router.push("/");
    }
  }
</script>
