<template>
  <div class="pages">
    <div class="container">
      <div v-if="pages && pages.length" class="pages__list row">
        <div class="col-12 col-lg-3" v-for="(page, index) in pages" :key="index">
          <router-link :to="'/page/' + page.id" class="pages__item d-block">
            <div class="pages__item-title">Страница {{page.id}}</div>
          </router-link>
        </div>
      </div>
      <div v-else>
        У вас нет созданных страниц.
        <router-link class="link" to="/create-page">Создать?</router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";
  import {State} from "vuex-class";
  import {IPage} from "@/interfaces/IPage";

  @Component
  export default class Pages extends Vue {
    @State("pages") pages: IPage[];
  }
</script>

<style>
  .pages {
    padding-top: 20px;
  }

  .pages__item {
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
    color: #000;
  }

  .pages__item:hover {
    text-decoration: none;
  }
</style>
