<template>
  <div class="text-block-image">
    <button class="text-block__remove" @click="$emit('deleteBlock', id)">Удалить</button>
    <div class="container">
      <div class="d-flex flex-lg-row flex-column justify-content-between">
        <div class="text-block-image__image_wrapper">
          <div class="text-block__tip">Редактировать</div>
          <img v-if="currentImage" :src="currentImage" class="text-block-image__image"/>
          <img v-else src="https://via.placeholder.com/200">
          <input
            @change="setImage($event)" accept="image/x-png,image/gif,image/jpeg" class="text-block-image__file"
            type="file">
        </div>
        <div class="text-block-image__text mt-5 mt-lg-0">
          <div @click="openTextarea" v-if="!isEditText" class="text-block__text">
            <div class="text-block__tip">Редактировать</div>
            <div v-if="currentText" v-html="$options.filters.textareaReplace(currentText)"></div>
          </div>
          <div v-else>
            <textarea-autosize
              ref="textarea"
              class="edit-text"
              :max-height="200"
              v-model="currentText"
              :min-height="100"
              @blur.native="blurText"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import {Component, Prop, Vue, Watch} from "vue-property-decorator";

  const toBase64 = (file: any) => new Promise((resolve, reject) => {
    const reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onload = () => resolve(reader.result);
    reader.onerror = (error) => reject(error);
  });

  @Component
  export default class TextImageBlock extends Vue {
    @Prop({default: "Текст"}) text: string;
    @Prop() image: string;
    @Prop() id: number;

    currentText: string = null;
    currentImage: string = null;
    file: string = null;
    isEditText: boolean = false;

    openTextarea() {
      this.isEditText = true;
      this.$nextTick(() => {
        if (this.$refs.textarea) {
          const control = this.$refs.textarea as any;
          control.$el.focus();
        }
      });
    }

    blurText() {
      this.isEditText = false;
      this.$emit("change", {
        id: this.id,
        text: this.currentText,
        image: this.currentImage,
      });
    }

    setImage(event: any) {
      this.file = event.target.files[0];
      if (this.file) {
        this.$nextTick(() => {
          toBase64(this.file).then((res) => {
            this.currentImage = res as string;
            this.$emit("change", {
              id: this.id,
              text: this.currentText,
              image: this.currentImage,
            });
          });
        });
      }
    }

    @Watch("text", {immediate: true}) setNewText() {
      this.currentText = this.text;
    }

    @Watch("image", {immediate: true}) setNewImage() {
      this.currentImage = this.image;
    }
  }
</script>

<style scoped>
  .text-block-image {
    width: 100%;
    min-height: 100px;
    border: 1px dashed #bebebe;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
  }

  .text-block-image__image {
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 200px;
    object-fit: cover;
  }

  .text-block-image__image_wrapper {
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
    border: 1px dashed transparent;
  }

  .text-block-image__image_wrapper:hover {
    border: 1px dashed #bebebe;
  }

  .text-block-image__text {
    width: calc(100% - 250px);
  }

  .text-block-image:hover {
    border: 1px solid #000;
  }

  .text-block-image__file {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  .text-block-image:hover .text-block__remove {
    display: block;
  }

  .text-block-image__image_wrapper:hover .text-block__tip {
    opacity: 1;
  }

  @media screen and (max-width: 990px) {
    .text-block-image__image_wrapper {
      width: 100%;
    }

    .text-block-image__text {
      width: 100%;
      margin-top: 20px;
    }

    .text-block-image__image {
      width: 100%;
    }
  }
</style>
