<template>
  <div class="text-block">
    <button class="text-block__remove" @click="$emit('deleteBlock', id)">Удалить</button>
    <div class="container">
      <div @click="openTextarea" v-if="!isEditText" class="text-block__text">
        <div class="text-block__tip">Редактировать</div>
        <div v-if="currentText" v-html="$options.filters.textareaReplace(currentText)"></div>
      </div>
      <div v-else>
        <textarea-autosize
          ref="textarea"
          class="edit-text"
          v-model="currentText"
          :min-height="100"
          @blur.native="blurText"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import {Component, Prop, Vue, Watch} from "vue-property-decorator";

  @Component
  export default class TextBlock extends Vue {
    @Prop({default: "Текст"}) text: string;
    @Prop() id: number;

    currentText: string = null;
    isEditText: boolean = false;

    openTextarea() {
      this.isEditText = true;
      this.$nextTick(() => {
        if (this.$refs.textarea) {
          const control = this.$refs.textarea as any;
          control.$el.focus();
        }
      });
    }

    blurText() {
      this.isEditText = false;
      this.$emit("change", {
        id: this.id,
        text: this.currentText,
      });
    }

    @Watch("text", {immediate: true}) setNewText() {
      this.currentText = this.text;
    }
  }
</script>

<style>
  .text-block {
    width: 100%;
    min-height: 100px;
    border: 1px dashed #bebebe;
    padding: 20px 0;
    position: relative;
  }

  .text-block:hover {
    border: 1px solid #000;
  }

  .text-block__text {
    border: 1px dashed transparent;
    min-height: 100px;
    position: relative;
  }

  .text-block__tip {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    background: #bebebe;
    opacity: 0;
    font-size: 14px;
  }

  .text-block__text:hover {
    border: 1px dashed #bebebe;
    cursor: pointer;
  }

  .text-block__text:hover .text-block__tip {
    opacity: 1;
  }

  .text-block:hover .text-block__remove {
    display: block;
  }

  .text-block__remove {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    border-radius: 0;
    padding: 10px;
    display: none;
    cursor: pointer;
    font-size: 16px;
  }
</style>
