<template>
  <div class="blocks-sidebar">
    <ul class="blocks-sidebar__list">
      <button class="blocks-sidebar__close" @click="$emit('close')">Закрыть</button>
      <li class="block-sidebar__title" @click="$emit('select', block.type)" v-for="(block, index) in blocks"
          :key="index">
        {{block.title}}
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
  import {Component, Prop, Vue} from "vue-property-decorator";
  import {IBlock} from "@/interfaces/IBlock";

  @Component
  export default class BlocksSidebar extends Vue {
    @Prop() blocks: IBlock[];
  }
</script>

<style scoped>
  .blocks-sidebar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 99;
    background: rgba(0, 0, 0, 0.2);
  }

  .blocks-sidebar__list {
    position: absolute;
    top: 0;
    width: 300px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .block-sidebar__title {
    cursor: pointer;
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    border: 1px dashed #bebebe;
    transition: 200ms all linear;
    font-size: 20px;
  }

  .block-sidebar__title:hover {
    background: #bebebe;
  }

  .block-sidebar__title:not(:last-child) {
    margin-bottom: 30px;
  }

  .block-sidebar__title:first-of-type {
    margin-top: 30px;
  }

  .blocks-sidebar__close {
    width: 100%;
    height: 80px;
    border-radius: 0;
    border: 1px solid #bebebe;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    transition: 200ms all linear;
  }

  .blocks-sidebar__close:hover {
    background: #bebebe;
  }
</style>
