<template>
  <header class="header-nav">
    <div class="container">
      <nav class="header-nav__list">
        <router-link class="header-nav__link" to="/pages">
          Страницы
        </router-link>
        <router-link class="header-nav__link" to="/create-page">
          Создать страницу
        </router-link>
      </nav>
    </div>
  </header>
</template>

<style>
  .header-nav {
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 9;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
  }

  .header-nav__list {
    display: flex;
    align-items: center;
  }

  .header-nav__link:not(:last-child) {
    margin-right: 20px;
  }

  .header-nav__link {
    color: #000;
  }

  .header-nav__link:hover {
    text-decoration: none;
  }
</style>
