<template>
  <div v-if="currentPage && currentPage.blocks" class="page-view">
    <blocks-sidebar v-if="isShownBlocks" :blocks="blocks" @close="isShownBlocks = false" @select="addBlock"/>
    <button class="add-block" @click="isShownBlocks = true">
      Добавить блок
    </button>
    <div class="page-view__buttons-group">
      <div class="row no-gutters">
        <div :class="['col-6', {'col-12': !isEditPage}]">
          <button
            @click="$emit('savePage', currentPage)" v-if="isVisibleSaveButton"
            class="save-page">
            Сохранить
          </button>
        </div>
        <div :class="['col-6', {'col-12': !isVisibleSaveButton}]">
          <button
            @click="$emit('deletePage', currentPage)" v-if="isEditPage"
            class="delete-page">
            Удалить страницу
          </button>
        </div>
      </div>
    </div>
    <div class="page-view__list">
      <div v-for="(block, index) in currentPage.blocks" :key=index class="edit-page__item">
        <component
          @change="setNewValue"
          @deleteBlock="deleteBlock"
          :key="index"
          :id="block.id"
          :is="block.type"
          :text="block.text"
          :image="block.image"/>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import {Component, Prop, Vue, Watch} from "vue-property-decorator";
  import {IPage} from "@/interfaces/IPage";
  import {EnumBlock, IBlock} from "@/interfaces/IBlock";
  import BlocksSidebar from "@/components/blocks-sidebar.vue";
  import TextImageBlock from "@/components/blocks/text-image.vue";
  import TextBlock from "@/components/blocks/text.vue";

  @Component({
    components: {
      BlocksSidebar,
      TextImageBlock,
      TextBlock,
    }
  })
  export default class PageView extends Vue {
    @Prop({
      default: (): Omit<IPage, "id"> => {
        return {
          blocks: [],
        };
      }
    }) page: IPage;
    @Prop() blocks: IBlock[];
    @Prop() isEditPage: boolean;

    isShownBlocks: boolean = false;
    currentPage: IPage = null;

    @Watch("page", {deep: true, immediate: true}) setPage() {
      this.$nextTick(() => {
        this.currentPage = JSON.parse(JSON.stringify(this.page));
      });
    }

    deleteBlock(id: number) {
      const foundBlock: IBlock = this.currentPage.blocks.find((block) => block.id === id);
      this.currentPage.blocks.splice(this.currentPage.blocks.indexOf(foundBlock), 1);
      this.currentPage.blocks.filter((block) => block.id > id).forEach((block) => {
        block.id = block.id - 1;
      });
    }

    setNewValue(event: {
      id: number,
      text: string,
      image: string,
    }) {
      const foundBlock = this.currentPage.blocks.find((block) => block.id === event.id);
      foundBlock.text = event.text;
      foundBlock.image = event.image;
    }

    get isVisibleSaveButton() {
      return this.currentPage.blocks && this.currentPage.blocks.length;
    }

    addBlock(blockType: EnumBlock) {
      const foundBlock: IBlock = this.blocks.find((block) => block.type === blockType);
      this.currentPage.blocks.push({
        ...foundBlock,
        text: "Текст",
        id: this.currentPage.blocks.length + 1,
      });
      this.isShownBlocks = false;
      this.$nextTick(() => {
        window.scrollTo(0, document.body.scrollHeight);
      });
    }
  }
</script>

<style scoped>
  .page-view__list {
    margin-top: 40px;
    padding-bottom: 40px;
  }

  .page-view__buttons-group {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9;
  }
</style>
