<template>
  <div id="app">
    <header-nav/>
    <main class="main">
      <router-view/>
    </main>
  </div>
</template>

<script lang="ts">
  import HeaderNav from "@/components/header-nav.vue";
  import {Component, Vue} from "vue-property-decorator";

  @Component({
    components: {
      HeaderNav
    }
  })
  export default class App extends Vue {

  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

  body {
    margin: 0;
    padding: 0;
  }

  * {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
  }

  .main {
    padding-top: 80px;;
  }

  .link {
    color: #000;
  }

  .link:hover {
    text-decoration: none;
  }

  .add-block {
    width: 100%;
    border-radius: 0;
    border: 1px dashed #000;
    height: 40px;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    background: #eaeaea;
    transition: 200ms all linear;
    position: fixed;
    top: 80px;
    z-index: 9;
  }

  .add-block:hover {
    border: 1px solid #000;
  }

  .save-page {
    border-radius: 0;
    background: #bebebe;
    width: 100%;
    height: 40px;
    border: 0;
    cursor: pointer;
    font-size: 18px;
  }

  .edit-text {
    border: 1px dashed #bebebe;
    resize: none;
    outline: none;
    padding: 0;
    font-size: 16px;
    width: 100%;
    display: block;
  }

  .delete-page {
    border-radius: 0;
    background: red;
    color: #fff;
    width: 100%;
    height: 40px;
    border: 0;
    cursor: pointer;
    font-size: 18px;
  }

  @media screen and (max-width: 500px){
    .delete-page {
      font-size: 16px;
    }
  }
</style>
